.hangman-invisible > .hangman-game {
  display: none;
}

/* .hangman-invisible > button {
  font-size: 2rem;
  margin-top: 20px;
} */

.hangman-visible > .hangman-game {
  display: block;
}

/* .hangman-visible > button {
  background-color: var(--dark);
  color: var(--light)
} */

.clue {
  margin-top: 40px;
  font-size: 2rem;
  padding: 0.4em 0.8em;
}

form > button {
  margin: 5px;
}

.used-letters {
  font-size: 1.6em
}

.hangman-game input {
  font-size: 1.4em;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px var(--light);
  max-width: 4em;
  background-color: var(--accent);
  text-align: center;
  caret-color: var(--dark);
  color: var(--dark)
}

form {
  display: grid;
  justify-content: center;
  gap: 3px
}