@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
font-family: 'Press Start 2P', cursive;
}

nav > button {
  margin: 5px;
  font-size: 1.4em;
}

.header-and-nav {
  padding-bottom: 20px
}