@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.logout {
  text-align: right;
}

header {
font-family: 'Press Start 2P', cursive;
}

nav > button {
  margin: 5px;
  font-size: 1.4em;
}

.header-and-nav {
  padding-bottom: 20px
}