.tictactoe-invisible > .tictactoe-game {
  display: none;
}

.tictactoe-invisible > button {
  font-size: 2rem;
  margin-top: 20px;
}

.tictactoe-visible > .tictactoe-game {
  display: block;
}

/* .tictactoe-visible > button {
  background-color: var(--dark);
  color: var(--light)
}

.tictactoe-invisible > button {
  font-size: 2rem;
  margin-top: 20px;
} */

.board {
  padding-bottom: 10px;
  font-size: 2em;
}

.tic-button {
  margin: 2px;
  background: var(--accent);
  border: 1px solid var(--light)
}