.sudo-invisible > .sudoku-game, .button-invisible, .solution-invisible {
  display: none;
}

.sudo-visible > .sudoku-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-visible {
  display: inline;
  margin-bottom: 10px;
}

.solution-visible {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3px;
  padding-bottom: 10px;
  max-width: 400px;
  min-width: 300px;
  text-align: center;
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 400px;
  min-width: 300px;
}

.sudoku-board > button {
  padding: 0px;
  margin: 0px;
}

input {
  background-color: var(--dark);
  border: none;
  font-size: 1em;
  color: var(--accent)
  
}

input::-webkit-inner-spin-button {
  display: none;
}